@using System.Linq;
@using DocumentFormat.OpenXml.Office2010.ExcelAc;
@model BancoMusica.Models.GeneroMusicaViewModel

@{
    ViewData["Title"] = "Index";
}

    



<h2>Tarefas - Product Backlog</h2>

<p>
    <a asp-action="Create">Adicionar nova tarefa</a>
</p>


<form asp-controller="Musicas" asp-action="Index" method="get">
    <p>
        <select asp-for="GeneroMusica" asp-items="Model.Genero">
            <option typeof="number">Todas</option>
        </select>

        Nome da tarefa: <input type="text" name="SearchString"/>
        <input type="submit" value="Pesquisar"/>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Nome da atividade
            </th>
            <th>
                Data extimada para Finalização
            </th>
            <th>
                Grau de Importância
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Musicas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>

</table>

